<% include templates/header.ejs %>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/calendar/moment.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/calendar/reservation.css">

<h1 class="title">SERVER RESERVATION</h1>
<form  action="" class="container" method="post" id="add_form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="panel panel-primary">
    <div class="panel-heading">Schedule an Appointment</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="server_select">Server</label>
              <select name="server" id="server_select" required>
                <option value="Select a server" selected>Select a server</option>
                <% serverList.forEach(function(server) { %>
                  <option value="<%= server %>"><%= server %></option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="reason">Reason</label>
              <input type="text" class="form-control" name="title" id="reason"
                placeholder="What are going to do with it?" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="start">Start</label>
              <div class="input-group date" id="datetimepicker1">
                <input type="text" class="form-control" name="start" id="start"
                  placeholder="Click calendar to pick date.">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="end">Length (max 72 hrs)</label>
              <input type="number" class="form-control" name="end"
                min="1" max="72" id="end"/>
            </div>
          </div>
        </div>
      <input id="button" type="submit" class="btn btn-primary" value="Submit" name="submit" disabled>
    </div>
  </div>
</form>
<script src="/javascripts/calendar/datepicker.js"></script>
<script src="/javascripts/validation/addRes.js"></script>
</body>
</html>
