<% include templates/header.ejs %>
<h1 class="title">DELETE RESERVATION</h1>
<span style="display:none;" id="user"><%= user %></span>
<form  action="" class="container" id="del_form" method="post" name="del_form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="panel panel-primary">
    <div class="panel-heading">Delete an Appointment</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="server_select">Server</label>
              <select name="server" id="server_select" required>
                <% if (servers.length > 0) { %>
                  <option value="Select a server" selected>Select a server</option>
                  <% servers.forEach(function(server) { %>
                    <option value="<%= server %>">
                      <%= server %>
                    </option>
                  <% }); %>
                <% } else { %>
                  <option value="None" selected>No reservations</option>
                <% } %>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="res_select">Reservation</label>
              <select name="reservation" id="res_select" required>
              </select>
            </div>
          </div>
        </div>
      <button class="btn btn-primary" value="Submit" name="submit_button" id="button" disabled>Submit</button>
    </div>
  </div>
</form>
<script src="/javascripts/calendar/moment.min.js"></script>
<script src="/javascripts/validation/delRes.js"></script>
</body>
</html>
