<% include templates/header.ejs %>
<h2>Login</h2>
<h5>Note: Only members of the IT department can login.</h5><br>
<form action="" method="POST" id="login_form" class="container">
  <div class="panel panel-primary">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input id="username" name="username" size="25" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="reason">Password</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" name="submit" id="submitButton" disabled>
  </div>
</form>
<script src="/javascripts/validation/log.js"></script>
</body>
</html>
