<% include templates/header.ejs %>
<div class="alert alert-success" style="display:none;" id="del_alert"></div>
<h2 style="text-align: center">Servers</h2><br>
<ul class="server-list">
  <% serverList.forEach(function(server) { %>
    <li><a href="/server/<%= server %>"><%= server %></a></li>
  <% }); %>
</ul>
<hr>
<script src="/javascripts/displayAlert.js"></script>
</body>
</html>
