<% include templates/header.ejs %>
<link rel="stylesheet" href="/stylesheets/calendar/fullcalendar.css"/>
<link rel="stylesheet" href="/stylesheets/calendar/jquery.qtip.min.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/calendar/moment.min.js"></script>
<script src="/javascripts/calendar/jquery.qtip.min.js"></script>
<script src="/javascripts/calendar/fullcalendar.js"></script>
<script src="/javascripts/calendar/serverCal.js"></script>

<h2 id="serverName"><%= server %> Reservations</h2><br>
<div id="calendar"></div>
</body>
</html>
