<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Server Reservation</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/calendar/reservation.css">
</head>
<body>
<div id="header">
  <div id="header-logo"></div>
  <ul class="nav">
    <% if (!locals.loggedIn) { %>
      <li><a href="/login">Login</a></li>
    <% } %>
      <li><a href="/server">Server</a></li>
    <% if (locals.loggedIn) { %>
      <li><a href="/reservations/add">Add Reservation</a></li>
      <li><a href="/reservations/del">Delete Reservation</a></li>
      <li><a href="/reservations/update">Update Reservation</a></li>
      <li><a href="/logout" style="float:right;">Logout</a></li>
    <% } %>
  </ul>
</div>
<noscript>
  <h2><i>Please enable JavaScript to fill out form.</i></h2>
</noscript>
<% if (locals.messages.error) { %>
  <div class="alert alert-danger"><%= locals.messages.error %></div>
<% } %>
<% if (locals.messages.info) { %>
  <div class="alert alert-info"><%= locals.messages.info %></div>
<% } %>
<% if (locals.messages.success) { %>
  <div class="alert alert-success"><%= locals.messages.success %></div>
<% } %>
