<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Server Reservation</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/calendar/reservation.css">
</head>
<body>
<div id="header">
  <div id="header-logo"></div>
  <ul class="nav">
    {% if not session.logged_in %}
      <li><a href="/login">Login</a></li>
    {% endif %}
      <li><a href="/server">Server</a></li>
    {% if session.logged_in %}
      <li><a href="/reservations/add">Add Reservation</a></li>
      <li><a href="/reservations/del">Delete Reservation</a></li>
      <li><a href="/reservations/update">Update Reservation</a></li>
      <li><a href="/logout" style="float:right;">Logout</a></li>
    {% endif %}
  </ul>
</div>
<noscript>
  <h2><i>Please enable JavaScript to fill out form.</i></h2>
</noscript>
{% with messages = get_flashed_messages(category_filter=["danger"]) %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
