{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<h5>Note: Only members of the IT or HR departments can login.</h5><br>
<form action="" method="POST" id="login_form" class="container">
  <div class="panel panel-primary">
    {{ form.hidden_tag() }} {{ form.csrf_token }}
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="username">Username</label>
            {% form.username(id="username", size="25", type="text", class="form-control", name="username") %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="reason">Password</label>
            {% form.password(id="password", type="password", class="form-control", name="password") %}
          </div>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" name="submit" id="submitButton" disabled>
  </div>
</form>
<script type="text/javascript" src="/static/js/login_validation.js"></script>
{% endblock %}
