{% extends "base.html" %}
{% block content %}
<div class="alert alert-success" style="display:none;" id="del_alert"></div>
<h2 style="text-align: center">Servers</h2><br>
<ul class="server-list">
  {% for server in serverList %}
    <li><a href="/server/{{ server }}">{{ server }}</a></li>
  {% endfor %}
</ul>
<hr>
<script src="/static/javascripts/displayAlert.js"></script>
{% endblock %}
