{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/stylesheets/calendar/fullcalendar.css"/>
<link rel="stylesheet" href="/static/stylesheets/calendar/jquery.qtip.min.css">
<script src="/static/javascripts/jquery.min.js"></script>
<script src="/static/javascripts/calendar/moment.min.js"></script>
<script src="/static/javascripts/calendar/jquery.qtip.min.js"></script>
<script src="/static/javascripts/calendar/fullcalendar.js"></script>
<script src="/static/javascripts/calendar/serverCal.js"></script>
<h2 id="serverName">{{ server }} Reservations</h2><br>
<div id="calendar"></div>
{% endblock %}
