{% extends "base.html" %}
{% block content %}
<script src="/static/javascripts/jquery.min.js"></script>
<script src="/static/javascripts/calendar/moment.min.js"></script>
<script src="/static/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/static/javascripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/stylesheets/bootstrap/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/static/stylesheets/calendar/reservation.css">

<h1 class="title">UPDATE RESERVATION</h1>
<span style="display:none;" id="user"><%= user %></span>
<form  action="" class="container" id="update_form" method="post" name="up_form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="panel panel-primary">
    <div class="panel-heading">Update an Appointment</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="server_select">Server</label>
              <select name="server" id="server_select" required>
                {% if servers %}
                  <option value="Select a server" selected>Select a server</option>
                  {% for server in servers %}
                    <option value="{{ server }}">{{ server }}</option>
                  {% endfor %}
                {% else %}
                  <option value="None" selected>No reservations</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="res_select">Reservation</label>
              <select name="reservation" id="res_select" required></select>
            </div>
          </div>
          <hr>
          <div id="update_res" style="display:none;">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="reason">New Reason</label>
                <input type="text" class="form-control" name="title" id="reason"
                  placeholder="What are going to do with it?" autocomplete="off">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="start">New Start</label>
                <div class="input-group date" id="datetimepicker1">
                  <input type="text" class="form-control" name="start" id="start"
                    placeholder="Click calendar to pick date.">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="end">New Length (max 72 hrs)</label>
                <input type="number" class="form-control" name="end"
                  min="1" max="72" id="end"/>
              </div>
            </div>
          <div class="col-md-6">
            <button class="btn btn-primary" value="Submit" name="submit_button" id="button" disabled>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="/javascripts/calendar/datepicker.js"></script>
<script src="/javascripts/validation/upRes.js"></script>
{% endblock %}
