#header {
  background: #dc0200 url("/images/headerBackground.gif") repeat-x;
  height: 55px;
  margin-top: -1px;
  width: 100%;
}

a {
  color: red;
  text-decoration: none;
}

li {
  padding: 3px;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
  background: red;
}

meter[value="2"]::-moz-meter-bar {
  background: yellow;
}

meter[value="3"]::-moz-meter-bar {
  background: orange;
}

meter[value="4"]::-moz-meter-bar {
  background: green;
}

.error {
  color: #d33;
  font-style: oblique;
  font-weight: bold;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.shoretel {
  border: 1.5px solid #888888;
  border-collapse: collapse;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "form form"
    "password_info password_info"
  ;
}

.form {
  border-radius: 25px;
  grid-area: form;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 2vw;
  outline: 1px solid black;
  padding: 2vw;
}

.form p {
  text-align: center;
}

.title {
  color: gray;
  margin-left: 2vw;
}

body a:hover {
  color: red;
  text-decoration: underline;
}

.nav {
  float: left;
  font-size: 1.3em;
  list-style: none;
  margin-left: 160px;
  margin-right: 7vw;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.nav li {
  display: inline;
  float: left;
  margin-top: -17px;
}

.nav a {
  color: #f88;
  display: inline-block;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #faa;
  color: #c00;
}

.new_pass_button {
  margin-left: 1vw;
}

h1,
h2,
h3,
h5 {
  font-weight: bold;
  margin-left: 15px;
}

form {
  margin-left: 25px;
}

.goodpass {
  background-color: #3c3;
}

.badpass {
  background-color: #e55;
}

.pass_results {
  font-size: 1.15em;
  margin-left: 17px;
}

.info {
  margin-left: 13px;
}

#search {
  margin-left: 10px;
}

#available {
  margin-left: 20px;
}

.alert {
  font-size: 1.3em;
}

.server-list {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  flex-wrap: wrap;
  float: left;
  font-size: 1.3em;
  list-style: none;
  padding: 20px;
  text-align: center;
  width: 100%;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
}

.server-list li {
  float: left;
  margin-top: -17px;
}

.server-list a {
  color: #f33;
  float: left;
  padding: 8px 15px 30px;
}

.server-list li a:hover {
  color: #c00;
}
